.manager {
    display: inline-block;
    width: 4em; 
    font-weight: bold;
}

.divider {
    display: inline-block;
    margin: 0 0.5em;
}

.trophyCount {
    display: inline-block;
    font-size: 1.5em;
    color: gold;
}