#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: .2rem;
}

@media (max-width: 520px) {
  #root {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
  }
}

* {
  font-family: "Geist", "Geist Fallback";
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 800;
}